/* estilos */
/* General */
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
/* Fonts */
h1,
h2,
h3,
h4 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
}
p {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
button {
  font-weight: 100;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
/* Contenedores */
.main-container,
.first-container,
.second-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.tarjeta {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
  background-color: gainsboro;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0;
  color: rgb(77, 77, 77);
}
.tarjeta:hover {
  transform: scale(1.15);
  transition-duration: 0.7s;
}
/* elementos */
img.imagen-tarjeta {
  width: 250px;
  border-radius: 50%;
  border: 1px solid white;
  filter: grayscale();
}
button.hi-button {
  background-color: rgb(77, 77, 77);
  border: white 5px solid;
  color: white;
  padding: 15px;
  border-radius: 3px;
}
/* utilidades 
preveía usar sm md y lg en forma similar a lo que hace Bootstrap, pero solo conservé los estilos que utilicé en el proyecto
*/
.text-center {
  text-align: center;
}
.lgText {
  font-size: 1.6rem;
}
.xlgText {
  font-size: 2.8rem;
}
.lgPad {
  padding: 3rem;
}
.mdGap {
  gap: 1.6rem;
}
/* Media Queries */
@media (min-width: 480px) {
  .tarjeta {
    margin: 20px auto;
  }
  .lgText {
    font-size: 1.6rem;
  }
  .xlgText {
    font-size: 2.8rem;
  }
  .lgPad {
    padding: 3rem;
  }
  .mdPad {
    padding: 3rem;
  }
  .smPad {
    padding: 1rem;
  }
  .smGap {
    gap: 1rem;
  }
  .mdGap {
    gap: 1.6rem;
  }
  .lgGap {
    gap: 3.2rem;
  }
}
@media (min-width: 768px) {
  .tarjeta {
    flex-direction: row;
    margin: 20px auto;
  }
  .tarjeta:hover {
    transform: scale(1.05);
  }
  .lgPad {
    padding: 4rem;
  }
  .mdGap {
    gap: 2rem;
  }
}
@media (min-width: 960px) {
  .tarjeta:hover {
    transform: scale(1.15);
  }
  .lgPad {
    padding: 5rem;
  }
  .mdGap {
    gap: 3rem;
  }
}
